:root{
    --background-color: yellow;
}

html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 450px;
    height: 250px;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}


.card .left-info{
    width: 150px;
    height: 100%;
    float: left;
    background-color: var(--background-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card .left-info img{
    height: 100px;
    width: auto;
}

.card .left-info #user-level, .card .left-info #user-points{
    color: #fff;
    background: rgba(0,0,0,0.25);
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 11px;
}

.card .right-info header h1{
    text-align: center;
}


.plus-minus-button{
    padding: 5px 30px;
    border-radius: 15px;
    border: none;
    color: white;
    background: linear-gradient(135deg, #7d90fd, #baddfe);
    box-shadow: 0 4px 10px rgba(155, 125, 253, 0.35);
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

